/* The font for the body text. */
/* Work Sans */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


/* The color palette of the website. */
:root {
  --primary-color: #2D3F89;
  --secondary-color: #ffffff;
  --accent-color: #456EAF;
  --alert-color: #E84035;
}


/* General settings for the page. */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}


/* Styles for the header of the account detail finalization. */

.modal-box {
  margin: 1em;
  padding: 1em 2.5em;
  z-index: 1;
  display: none;
  position: absolute;
  overflow-y: auto;
  width: fit-content;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 15px;
}

.alert-message {
  margin: 1em;
  padding: 1em 2em;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  width: fit-content;
  height: 55px;
  background-color: var(--alert-color);
  color: var(--secondary-color);
  border-radius: 20px;
  font-weight: bold;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
}

.modal-instructions {
  margin: 1em 0;
}

#tab-number {
  margin-top: -0.5em;
}

.form-control {
  margin: 1em 0;
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}


 /* Styling for the part 1 of the account detail finalization. (tab1) */

.text-input {
  margin: 0 auto;
  border: solid 2px var(--accent-color);
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.medium-input {
  height: 2.25em;
  width: 250px;
}

input[type=file] {
  display: none;
}

.custom-upload {
  display: inline-block;
  padding: 6px 12px;
  width: 250px;
  border: solid 2px var(--accent-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.85rem;
  cursor: pointer;
}

.file-input {
  margin: auto;
  text-align-last: center;
}


/* Styles for the part 2 of the account detail finalization. (tab2) */

.interests-instructions {
  margin-bottom: 2em;
  text-transform: uppercase;
}

.interest-group {
  margin: 1em 0;
}

.cbox-custom {
  /* display: flex; */
  /* display: block; */
  list-style: none;
  padding: 0;
}

.cbox-custom li {
  display: inline;
  /* background-color: red; */
}

.cbox-custom label {
  display: inline-block;
  margin: 3px 0px;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: rgba(139, 139, 139, 1);
  border-radius: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

.cbox-custom label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

.cbox-custom input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.cbox-custom input[type="checkbox"]:checked + label {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all .2s;
}

.cbox-custom input[type="checkbox"] {
display: absolute;
position: absolute;
opacity: 0;
}


/* Styles for the userprofile content */

.user-profile {
  padding: 1em 2.5em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.profile-container {
  margin: 0 3em;
  height: 100vh;
  display: block;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*
.profile-container:after {
  content: "";
  display: table;
  clear: both;
}*/

.side-bar-left {
  margin: 0.5em 2em 0.5em 3em;
  width: 30%;
}

.side-bar-left > div {
  margin: 0.5em 0;
  padding: 2em;
  width: 100%;
  background-color: red;
  color: white;
  border-radius: 15px;
}


.profile-pic {
  /* background-image: url('default-pro-pic.jpg');
  background-color: var(--secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  position: relative; */

  width: 250px;
  height: 250px;
}

.content-area {
  margin: 1em 2em 1em 3em;
  padding: 2em;
  width: 70%;
  background-color: green;
  color: white;
  border-radius: 15px;
}






/* General styles for the buttons and the layout of the page. */

h1, h2, h3, p, label, input[type=text], textarea {
  display: block;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.25rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.25em;
}

p {
  font-size: 1rem;
  margin-bottom: -0.3em
}

textarea {
  box-sizing: border-box;
  padding: 5px;
  min-height: 150px;
  min-width: 250px;
  max-width: 600px;
  text-align: center;
}

hr {
  display: block;
  overflow: visible;
  padding: 0 8em;
  height: 2px;
  border: 0;
  background-image: linear-gradient(to right, var(--accent-color), var(--secondary-color), var(--accent-color));
}


.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-weight: bold;
}

.btn:active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}