/* The font for the Connecting Colleagues logo. */
/* Confortaa */ 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* The font for the body text. */
/* Work Sans */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


/* The color palette of the website. */
:root {
    --primary-color: #2D3F89;
    --secondary-color: #ffffff;
    --accent-color: #456EAF;
}

/* Genral settings for the page. */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: var(--primary-color);
}


/* Styles for the navigation bar in general. */

.nav-bar {
    height: 77px;
    padding: 10px;
    background-color: var(--secondary-color);
    overflow-y: hidden;
}

.nav-bar a {
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1em;
    overflow: hidden;
}

/* Styles for the logo. */

.logo {
    font-family: "Comfortaa", cursive;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1em;
}

/* Grid container */

.container {
    text-align: center;
}

.calendar-area {
    display: flex;
    justify-content: space-evenly;
    background-image: url('../images/connect-1.jpg');
    background-color: var(--secondary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.calendar-container {
    order: 1;
    border: solid;
    background-color: rgba(69, 110, 175, 0.8);
    width: 70%;
}

.calendar {
    /*border-color: black;*/
    /*background-position: center;*/
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 110px 110px 110px;
    grid-template-rows: 30px 110px 110px 110px 110px 110px;
    /*margin-left: 23.5%;
    margin-right: 23.5%;*/
    justify-content: center;
    align-content: center;
    padding: 40px;
    padding-top: 10px;
    gap: 5px 5px;
}

.side-bar {
    order: 2;
    border: solid;
    /*border-color: black;*/
    width: 30%;
    background-color: var(--accent-color);
    /*justify-content: center;*/
}

p {
    background-color: white;
    border-radius: 9px;    
}

/* Styling for the date bar */

.date-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    align-items: baseline;
}

.show-date {
    white-space: nowrap;
    margin: auto;
    width: 30%;
}

.month-shown {
    order: 2;
}

.previous-month {
    white-space: nowrap;
    order: 1;
    width: 30%;
    border: solid;
}

.next-month {
    white-space: nowrap;
    order: 3;
    width: 30%;
    border: solid;
}

.weekdays {
    grid-row: 1 / 2;
    text-align: center;
}

#prev, #next, #calendar-item {
    cursor: pointer;
}

#c1 {
    background-color: black;
    font-size: 30px;
}

h2 {
    color: black;
}

.flex {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
